{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Student current course information{% endblock title %}
{% block menu_students %}active{% endblock menu_students %}

{% block content %} 
  <h class = "fi_course">{{ student_detail.name }} {{ student_detail.surname }}</h>
    <div class = "stud_detail">	
     <table class="table" border="1" width = "90%">
      <tr>	   
       <td class = "fi_course">дата рождения</td>
       <td class = "fi_course">{{ student_detail.date_of_birth }}</td> 
      </tr>
      <tr>
       <td class = "fi_course">адрес</td>
       <td class = "fi_course">{{ student_detail.address }}</td> 
      </tr>
      <tr>
       <td class = "fi_course">почта</td>
       <td class = "fi_course">{{ student_detail.email }}</td> 
      </tr>	
      <tr>
       <td class = "fi_course">логин skype</td>
       <td class = "fi_course">{{ student_detail.skype }}</td>
      </tr>
      <tr> 
       <td class = "fi_course">телефон</td>
       <td class = "fi_course">{{ student_detail.phone }}</td>
      </tr>
      <tr> 
       <td class = "fi_course">курсы</td>
       <td >{% for course in student_detail.course_id %} <p><a href="{% url 'courses:detail' course.id %}">{{ course }}</a></p> {% endfor %}</td>
      </tr> 	
     </table> 
</div>
{% endblock content %}      
  
