{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Student list{% endblock title %}
{% block menu_students %}active{% endblock menu_students %}

{% block content %} 
  <h class = "fi_course">Список студентов</h>	
    <table class="table" border="1" width = "90%">	  
          <tr>
	    <th class="title_style">#</th>	
            <th class="title_style">фамилия имя</th>
            <th class="title_style">адрес</th>
	    <th class="title_style">skype</th>
	    <th class="title_style">курсы</th>	
	
         </tr>
	{% for student in students %}
        {% include "include/inc_allstudents.html" %}
         {% endfor %}

{% endblock content %}
