{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Student list{% endblock title %}
{% block menu_students %}active{% endblock menu_students %}

{% block content %} 
{% if messages %}
<ul>
	{% for message in messages %}
	<li>{{ message }}</li>
	{% endfor %}
</ul>
{% endif %}

<h class = "fi_course">Список студентов</h>	
{% include "include/students_include.html" %}
	{% for student in students %}
<tr>
  <td class = "fi">{{ forloop.counter }}</td>
  <td ><a href="{% url 'students:detail' student.id %}">{{ student.surname }} {{ student.name }}</a></td>
  <td class = "fi">{{ student.address }}</td>
  <td class = "fi">{{ student.skype }}</td>
  <td>{% for course in student.courses_list %}
      <p><a href="{% url 'courses:detail' course.id %}">{{ course }}</a></p>
	    {% endfor %}<li><a href="{% url 'students:edit' student.id %}">Изменить</a></li>
			<li><a href="{% url 'students:remove' student.id %}">Удалить</a></li> 
  </td> 
</tr>
         {% endfor %}
    </table>
<li><a href="{% url 'students:add' %}">Добавить нового студента</a></li>
{% endblock content %}

