h.text { text-align:  center; margin-bottom: 10px;font-size: 28px;color:#040404}
.text { text-align:  center; margin: 30px;font-size: 17px}
.prog_lang{font-size: 22px; color:#373DF0}
.navbar{text-align:  left} 
.jumbotron_2 {padding-top: 10px;padding-bottom: 10px; width: 400px; height: 300px; float:left; margin: 107px; margin-bottom: 20px; color: inherit; background-color:  #eee; outline: 1px solid #000}
.label {
  margin: 30px;
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  background-color: #f0ad4e;
}
.label-title {background-color: #5bc0de;}
.label-title[href]:hover,.label-info[href]:focus {background-color: #31b0d5;}

.font{font-size:150%;  font-family: 'Ultra', sans-serif;color:#373DF0}

#id1{text-align: center; font-size: 50px; color: #000000; text-shadow: 1px 1px 2px black, 0 0 1em red}  

.shapka{width: 98%;
    outline: 1px solid #787274;
    padding: 5px;
    margin: 0 auto;}
.box_contact{padding: 10px;  height: 560px;outline: 1px solid #000;margin: 20px}
.image{width: 244px; height: 244px; border: 5px solid #CCA5D1; float:left;margin: 30px}
.boss_contacts{width: 300px; height: 500px; border: 2px solid #CCA5D1;float:left;margin:20px}
#id2{text-align:right; font-size: 30px; color: #000000;}
.con_title{font-style: italic;text-decoration :underline; font-weight: bold;font-size: 25px;margin-left: 90px}
.t{text-align:  center;margin-top:10px}
.t2{color:#373DF0;font-size: 120%;}
#adress{width: 604px; height: 342px; border: 2px solid #CCA5D1;float:left;margin-left:80px; margin-top:25px}
.label-success_2 { background-color: #040404;}
#label{text-align:  center; margin-bottom: 20px;font-size: 20px;color:#040404;text-decoration :underline}

