h.text { text-align:  center; margin-bottom: 10px;font-size: 28px;color:#040404}
.text { text-align:  center; margin: 30px;font-size: 17px}
.prog_lang{font-size: 22px; color:#373DF0}
.navbar{text-align:  left} 
.jumbotron_2 {padding-top: 10px;padding-bottom: 10px; width: 400px; height: 300px; float:left; margin: 107px; margin-bottom: 20px; color: inherit; background-color:  #eee; outline: 1px solid #000}
.label {
  margin: 30px;
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  background-color: #f0ad4e;
}
.label-title {background-color: #5bc0de;}
.label-title[href]:hover,.label-info[href]:focus {background-color: #31b0d5;}

.font{font-size:150%;  font-family: 'Ultra', sans-serif;color:#373DF0}

#id1{text-align: center; font-size: 50px; color: #000000; text-shadow: 1px 1px 2px black, 0 0 1em red}  

.shapka{width: 98%;
    outline: 1px solid #787274;
    padding: 5px;
    margin: 0 auto;}
.box_contact{padding: 10px;  height: 580px;outline: 1px solid #000;margin: 20px}
.image{width: 244px; height: 244px; border: 5px solid #CCA5D1; float:left;margin: 30px}
.boss_contacts{width: 300px; height: 500px; border: 2px solid #CCA5D1;float:left;margin:20px}
#id2{text-align:right; font-size: 30px; color: #000000;}
.con_title{font-style: italic;text-decoration :underline; font-weight: bold;font-size: 25px;margin-left: 90px}
.t{text-align:  center;margin-top:10px}
.t2{color:#373DF0;font-size: 120%;}
#adress{width: 604px; height: 342px; border: 2px solid #CCA5D1;float:left;margin-left:80px; margin-top:25px}
.label-success_2 { background-color: #040404;}
#label{text-align:  center; margin-bottom: 20px;font-size: 20px;color:#040404;text-decoration :underline}
#adr_box{outline: 2px solid #CCA5D1;width: 600px; height: 120px;padding-left: 20px}
#t2{color:#4472F1;font-size: 120%;font-style: italic}
#t3{color:#181819;font-size: 120%;font-style: italic}
#t4{color:#06E11F;font-size: 120%;font-style: italic}
#t5{color:#F30E3C;font-size: 120%;font-style: italic}


.fon{background-attachment: fixed;}

.th{text-align:  center; margin: 30px;font-size: 17px}
.title_style{background-color:#34333D; color:#FFFFFF;font-size: 22px; text-align:  center}
.skype{background-color:#EFEEF0;font-style: italic;font-size: 18px; color:#0B7FFB; text-align:  center}
.fi{background-color:#EFEEF0;text-align:  center;font-style:italic;font-size: 18px;}
.menu_title{background-color:#848995;text-align:  center;font-size: 22px;}
.image_profile{width: 425px; height: 590px; border: 2px solid #000000;margin-left:20px;float:left}
.box_name{float: left; border: 2px solid #000000;background-color:#EFEEF0; width: 300px; height: 100px; align:center;padding: 30px;margin-left:80px;border-radius: 10px;margin-top: 20px;  }
#prof_name{color:black; font-style: italic;text-align: center; font-size: 36px; margin-top: 30px; text-decoration :underline;}
.pers_info {
  margin-top: 40px;
  margin-left: 480px;
  width:900px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.panel-heading-2 {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  font-size: 35px;
  text-align: center;
  margin: 2px;
  background-color:#79B6F7;
  border: 1px solid #000000;
}
.panel-perfom{
  margin-left:480px;
  margin-top:20px;
  width:900px;
  height:400px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);}
.panel-heading-3 {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  font-size: 35px;
  text-align: center;
  margin: 2px;
  background-color:#F24F70;
  border: 1px solid #000000;
}
.row_course{background-color:#EFEEF0;text-align:  center;font-style:italic;font-size: 18px;rowspan:6}
.row_week{background-color:#EFEEF0;text-align:  center;font-style:italic;font-size: 18px;colspan:3}
