{% extends "base.html" %}
{% load staticfiles %}
{% block title %}PyBursa-Main page{% endblock title %}

{% block menu_main %}active{% endblock menu_main %}

{% block content %}
<div class="jumbotron">
  <h2>"PyBursa"</h2>
   <h2>Description</h2>
     <div class="text">
       <p>Our course  basic on learning high-level programming language - <span class="prog_lang">Python</span>. Its design philosophy emphasizes code readability, and its syntax allows programmers to express concepts in fewer lines of code than would be possible in languages such as <span class="prog_lang">C++</span> or <span class="prog_lang">Java</span>. The language provides constructs intended to enable clear programs on both a small and large scale. So don't lose your time and join to our <span class="prog_lang">Python</span> programmic family.
      </div>  
</div>

{% if messages %}
<ul>
	{% for message in messages %}
	<li>{{ message }}</li>
	{% endfor %}
</ul>
{% endif %}

<li><a href="{% url 'courses:add' %}">Добавить новый курс</a></li>

<h class = "text_2">Список курсов!</h>

<table class="table" border="1" width = "90%">	  
          <tr>
	    <th class="title_style">#</th>
            <th class="title_style">Курс</th>
            <th class="title_style">Описание</th>
	
         </tr>
	{% for course in courses %}
         <tr>
           <td class = "fi">{{ forloop.counter }}</td> 		
           <td><a href="{% url 'courses:detail' course.id %}">{{ course.name|upper }}</a></td>
           <td>{{ course.short_description|title }}<li><a href="{% url 'courses:edit' course.id %}">Изменить</a></li>
						   <li><a href="{% url 'courses:remove' course.id %}">Удалить</a></li></td>
        </tr>
         {% endfor %}
</table>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>



{% endblock content %}


