{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Student current course information{% endblock title %}
{% block menu_main %}active{% endblock menu_main %}
{% block url_list_students %}href="{% url 'students:list_view'%}?course_id={{course_detail.id}}"{% endblock url_list_students %}

{% block content %}
{% if messages %}
<ul>
	{% for message in messages %}
	<li>{{ message }}</li>
	{% endfor %}
</ul>
{% endif %}
    <div class="jumbotron">
	<h1 class = "text" >{{ course_detail.name }}</h>
	<p></p>
	<p></p>
	<p></p>
	<p></p>
	<p>{{ course_detail.description|truncatechars:32 }}</p>
	
    </div>
	<h class = "fi_course" font-size = "20px"> Преподаватели</h>
	<table class="table" border="1" width = "90%">	  
          <tr>
	    <th class="title_style">Учитель</th>
	  </tr>
	  <tr>
	    <th><a href="{% url 'coaches:detail' course_detail.coach.id %}">{{ course_detail.coach.first_name }} {{ course_detail.coach.last_name }}</a></th>
	  </tr>
	  <tr>
	    <td><li class = "row_course" >{{ course_detail.coach.description }}</li></td>
	  </tr>	
        </table>
	<table class="table" border="1" width = "90%">	  
          <tr>
	    <th class="title_style">Ассистент</th>
	  </tr>
	  <tr>
	    <th><a href="{% url 'coaches:detail' course_detail.assistant.id %}">{{ course_detail.assistant.first_name }} {{ course_detail.assistant.last_name }}</a></th>
	  </tr>
	  <tr>
	    <td><li class = "row_course" >{{ course_detail.assistant.description }}</li></td>
	  </tr>	
        </table>
	<h class = "fi_course"> Курс {{ course_detail.name }}</h>
	
  <li><a href="{% url 'courses:add-lesson' course_detail.id %}">Добавить занятие</a></li>
    <table class="table"  border="1">	  
          <tr>
	    <th class="title_style">#</th>	
            <th class="title_style">Тема</th>
            <th class="title_style">Описание</th>
	
         </tr>
	{% for lesson in course_detail.lesson_set.all %}
         <tr>
	   <td class = "fi">{{ lesson.order }}</td>
           <td class = "fi">{{ lesson.subject }}</td>
           <td class = "fi">{{ lesson.description }}</td>
        </tr>
         {% endfor %}
    </table>
{% endblock content %}
